

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

section, footer, nav {
    border: 2px solid red;
}

main > * {
    margin: 0;
    padding: 12px;
}

.mm-screw {
    box-shadow: 18px 18px 12px #888888;
}

#mm-screw-attribution {
    font-size: xx-small;
}

/* .mm-screw {
    background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,1)), radial-gradient( red, purple) ;
    margin: 24px;
} */

/* #mm-screw {
    border: 16px solid transparent;
    border-image: linear-gradient(45deg, red , yellow);
    border-image-slice: 1;
    height: 120px;
    border-radius: 10px;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}