
body {
    background-color: #cccccc;
    background-image: url("../img/BubbleChamber.jpg");

    border-top: 12px solid var(--dark-brown);

    font-family: 'Courier Prime', monospace;
}

main {
    background-color: var(--cool-neutral-transparent);
}
/* Temporary borders to see where things are. */
section, footer {
    /* border: 2px solid red; */
    border: 2px solid var(--cool-neutral);
}

/* Remove margins and add a little padding around elements. */
main > section {
    margin: 0;
    padding: 12px;
}

/* Set name and image section to flex so image and name can flex wrap. */
section.name-and-profile-image {
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
    background-color: var(--light-brown);
    border-bottom: 12px solid var(--dark-brown);
}

section.name-and-profile-image > * {
    text-align: center;
}

/* Provide settings so profile image stays proper aspect ration. */
img.profile-image {
    display: block;
    height: 100%;
    width: auto;

    border-radius: 6px;
    
    box-shadow: 0 0 3px 10px var(--cool-neutral);
}

h1.my-name {
    width: 400px;
    padding: 24px;
}

/* Set mm-screw-block to display the attribution below the image. */
div.mm-screw-block {
    display: flex;
    /* Temporarily hide mm screw. */
    display: none;
    flex-direction: column;
}

img.mm-screw {
    /* box-shadow: 18px 18px 12px #888888; */
    /* box-shadow: 0 0 0 10px #32557f, 0 0 0 15px #f69ec4, 0 2px 5px 15px rgba(0,0,0,.6); */
    /* Blended blue border */
    box-shadow: 0 0 3px 10px #32557f;
    margin-bottom: 10px;
}

#mm-screw-attribution {
    font-size: xx-small;
}

/* .mm-screw {
    background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,1)), radial-gradient( red, purple) ;
    margin: 24px;
} */

/* #mm-screw {
    border: 16px solid transparent;
    border-image: linear-gradient(45deg, red , yellow);
    border-image-slice: 1;
    height: 120px;
    border-radius: 10px;
} */

ul {
    margin: 0;
    padding: 0;
}

footer {
    margin: 0;
    padding: 0;
}

footer > p {
    text-align: right;
    border-top: 12px solid var(--dark-brown);
    background-color: var(--light-brown);
    margin: 0;
    padding: 12px 12px 12px;
}
